---
import PlotFigure from "../components/PlotFigure.astro";
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import Bouton from "../components/bouton.astro";
import CarteGareTouriste from "../components/carte-gare-touriste.astro";
---

<Layout>
  <img src="/src/assets/train.webp" alt="">
  <h1>Est ce que les gares aident au tourisme</h1>
  <p>
    Dans le monde actuel, les <strong>transports en commun</strong> occupent une place <strong>essentielle</strong> pour permettre aux individus de se déplacer <strong>rapidement</strong> et à <strong>moindre coût</strong>. Ils facilitent l’accès aux <strong>villes</strong> et aux <strong>sites touristiques</strong>, rendant les voyages plus accessibles à un large public. Grâce à des <strong>réseaux bien développés</strong>, les touristes peuvent explorer de nombreuses destinations sans dépendre de la <strong>voiture individuelle</strong>. Ces modes de transport contribuent aussi à réduire l’<strong>impact environnemental</strong> lié aux déplacements. Cependant, l’<strong>efficacité</strong> des transports en commun varie selon les régions, influençant ainsi l’<strong>attractivité touristique</strong>. Il est donc intéressant d’examiner dans quelle mesure ces infrastructures soutiennent réellement le secteur du tourisme.
  </p>

  <Bouton>En savoir plus</Bouton>
  <CarteGareTouriste />
</Layout> 
