---
import PlotFigure from "../components/PlotFigure.astro";
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import Bouton from "../components/bouton.astro";
import CarteGareTouriste from "../components/carte-gare-touriste.astro";
---

<Layout>
  <h1 class="text-2xl">Test Astro et Plot (Observablehq)</h1>
  <Bouton>En savoir plus</Bouton>
  <CarteGareTouriste />
</Layout> 
