---
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import CarteGareTouriste from "../components/carte-gare-touriste.astro";
import GraphGareDpt from "../components/graph-gare-dpt.astro";
import CarteGareDpt from "../components/carte-gare-dpt.astro";
import Camembert from "../components/camembert-gare.astro";
import CarteTrajet from "../components/carte-trajet.astro";
---

<Layout>
  <h1 class="text-2xl">Information</h1>
  <p>Voici quelques informations utiles.</p>
  <CarteGareTouriste />
  <GraphGareDpt />
  <CarteGareDpt />
  <Camembert />
  <CarteTrajet />
</Layout>
