---
---

<header class="bg-[#54278f] text-white py-4 px-6 font-montserrat">
  <div class="max-w-6xl mx-auto flex items-center justify-between">
    <h1 class="text-2xl font-bold">Les données prennent le train du voyage</h1>
    <nav>
      <ul class="flex space-x-6">
        <li><a href="/" class="hover:underline">Accueil</a></li>
        <li><a href="/propos" class="hover:underline">A propos</a></li>
        <li><a href="/information" class="hover:underline">Information</a></li>
        <li><a href="/contact" class="hover:underline">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
