---

---

<section class="relative w-full h-[80vh] sm:h-screen mt-[4rem]">
    <img
      src="/../../public/train.webp"
      alt="Train"
      class="w-full h-full object-cover brightness-[0.7]"
    />
    <div class="inset-0 bg-black/25"></div>

    <div
      class="absolute inset-0 flex items-center justify-center text-center px-6 animate-fade-up"
    >
      <h1
        class="text-3xl sm:text-4xl md:text-5xl font-extrabold text-white bg-[#54278f]/70 px-6 sm:px-10 py-4 sm:py-6 rounded-2xl shadow-lg leading-snug max-w-[90%]"
      >
        Est-ce que les gares contribuent au développement du tourisme ?
      </h1>
    </div>
</section>